@model IEnumerable<Teste2DAW.Models.Utente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.identificacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identificacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UtenteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UtenteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UtenteID })
        </td>
    </tr>
}

</table>
