@model IEnumerable<Teste2DAW.Models.Aluger>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Copia.CopiaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataEmpretimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataEmtrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.devolvida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Multa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Copia.CopiaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataEmpretimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataEmtrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.devolvida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Multa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlugerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlugerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlugerID })
        </td>
    </tr>
}

</table>
